html,
body {
  font-family: -apple-system,BlinkMacSystemFont, Helvetica Neue, Roboto, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  line-height: 1.6;
  color: #495057;
  margin: 0;
}

a {
  text-decoration: none;
}

//main {
  //a {
    //color: #495057;
    //border-bottom: 2px dotted #2c3242;
    //background: linear-gradient(180deg, transparent 62%, #ffd644 0) 0/0 75% no-repeat;
    //transition: all 0.3s ease-in-out;
  
     // &:hover,
//&:active {
      //background: linear-gradient(180deg, transparent 62%, #ffd644 0) 0/0 75% no-repeat;
     // animation: animatedBackground .4s .5s forwards;
      //transition: animatedBackground all 0.3s ease-in-out;
      //opacity: 1;
      //}
  //}
//}

h2 {
  margin: 0;
}

@keyframes animatedBackground {
  to {
    background-size: 100% 100%;
  }
}
@keyframes appear {
  0% {opacity: 0; transform: translateY(80px); line-height: 2;}
	50% {opacity: 0;}
	100% {opacity: 1; transform: translateY(0px); line-height: 1.5;}
}