/* Global variables */

:root {
  --font-color: #495057;
  --heading-color: #343a40;
  --dark-font-color: #212529;
  --medium-font-color: #60656c;
  --light-font-color: #868e96;
  --light-background: #f1f3f5;
  --border: #d6d9de;
  --link-color: #5183f5;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Scaffolding */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
    Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

p,
ol,
ul,
dl,
table,
blockquote {
  font-size: 1.05rem;
  margin: 0 0 1.5rem 0;
}

ul {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  ul {
    padding: 0 2rem;
  }
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0.25rem 0;
}

ol li ol {
  margin-bottom: 0;
}

blockquote {
  margin: 1.5rem 0;
  padding: 1rem;
  background: #fff9db;
  border-radius: 0.3rem;
  border: 1px solid #ffe066;
  border-left: 8px solid #ffe066;
}

blockquote p {
  margin: 0;
}

blockquote a {
  padding: 1px 4px;
  border-bottom: 2px solid #ffe066;
  color: var(--heading-color);
}

blockquote a:hover {
  border-radius: 0.3rem;
  border-bottom: 2px solid #ffe066;
  background: #ffe066;
  color: var(--heading-color);
}

blockquote.quotation {
  margin: 2rem 0;
  padding: 0 1.5rem;
  background: white;
  border-radius: 0;
  border: none;
  border-left: 12px solid var(--border);
  padding-bottom: 2rem;
}

blockquote.quotation p {
  font-family: Georgia, serif;
  line-height: 1.6;
  color: var(--medium-font-color);
  font-size: 1.1rem;
  margin: 0 0 1.5rem 0;
}

@media screen and (min-width: 800px) {
  blockquote.quotation {
    padding-bottom: 2rem;
  }
  blockquote.quotation cite {
    float: right;
  }
}

/* Links */

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  border-bottom: 2px solid var(--link-color);
  color: var(--heading-color);
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

th {
  border-bottom: 2px solid var(--light-background);
}

tfoot th {
  border-top: 2px solid var(--light-background);
}

td {
  border-bottom: 2px solid var(--light-background);
}

th,
td {
  text-align: left;
  padding: 0.75rem !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background-color: var(--light-background);
}