/* Global variables */

:root {
  --font-color: #495057;
  --heading-color: #343a40;
  --dark-font-color: #202223;
  --medium-font-color: #60656c;
  --light-font-color: #868e96;
  --light-background: #f1f3f5;
  --border: #d6d9de;
  --link-color: #5c7cfa;
  --accent-color: #fadb6b;
  --light-accent-color: #fcebb0;
}

/* Scaffolding */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto",
    Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 1rem; /* 1 */
  line-height: 1.6; /* 1 */
  margin: 0; /* 2 */
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 1.1rem;
  }
}

body {
  margin: 0;
  padding: 0;
}

p,
ol,
ul,
dl,
table,
blockquote {
  margin: 0 0 1.5rem 0;
}

ul {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  ul {
    padding: 0 2rem;
  }
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0.25rem 0;
}

ol li ol {
  margin-bottom: 0;
}

blockquote {
  margin: 1.5rem 0;
  padding: 1rem;
  background: #fff9db;
  border-radius: 0.3rem;
  border: 1px solid #ffe066;
  border-left: 8px solid #ffe066;
}

blockquote p {
  margin: 0;
}

blockquote a {
  padding: 1px 4px;
  border-bottom: 2px solid #ffe066;
  color: var(--heading-color);
}

blockquote a:hover {
  border-radius: 0.3rem;
  border-bottom: 2px solid #ffe066;
  background: #ffe066;
  color: var(--heading-color);
}

blockquote.quotation {
  margin: 2rem 0;
  padding: 0 1.5rem;
  background: white;
  border-radius: 0;
  border: none;
  border-left: 12px solid var(--border);
  padding-bottom: 2rem;
}

blockquote.quotation p {
  font-family: Georgia, serif;
  line-height: 1.6;
  color: var(--medium-font-color);
  font-size: 1.1rem;
  margin: 0 0 1.5rem 0;
}

@media screen and (min-width: 800px) {
  blockquote.quotation {
    padding-bottom: 2rem;
  }
  blockquote.quotation cite {
    float: right;
  }
}

/* Links */

a {
  color: var(--dark-font-color);
  background: linear-gradient(transparent 70%, #dbe4ff 0);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: var(--dark-font-color);
  background: linear-gradient(transparent 70%, #bac8ff 0);
}

.anchor.before,
div > a,
div > a:hover {
  background: none;
}

.anchor.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

th {
  border-bottom: 2px solid var(--light-background);
}

tfoot th {
  border-top: 2px solid var(--light-background);
}

td {
  border-bottom: 2px solid var(--light-background);
}

th,
td {
  text-align: left;
  padding: 0.75rem !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background-color: var(--light-background);
}

.cdcover {
  margin: 0 auto;
  display: block;
  max-width: 400px;
  padding-bottom: 1rem;
}

.cdcover > span > a {
  background: none;
}

.cdcover > span > a > img {
  border-radius: 0.4rem;
}
